@import "tailwindcss";
@import "maplibre-gl/dist/maplibre-gl.css";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display-lg: "Hanken Grotesk", sans-serif;
  --font-headline-lg: "Hanken Grotesk", sans-serif;
  --font-stat-kpi: "Geist", monospace;
  --font-mono-data: "Geist", monospace;
  --font-label-sm: "Geist", sans-serif;

  --color-primary-container: #131b2e;
  --color-on-secondary-container: #004d6a;
  --color-background: #f7f9fb;
  --color-surface-tint: #565e74;
  --color-primary-fixed: #dae2fd;
  --color-error: #ba1a1a;
  --color-on-secondary-fixed: #001e2c;
  --color-chart-grid: #f1f5f9;
  --color-primary-fixed-dim: #bec6e0;
  --color-on-surface: #191c1e;
  --color-secondary-fixed: #c4e7ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container: #eceef0;
  --color-surface-variant: #e0e3e5;
  --color-on-error-container: #93000a;
  --color-inverse-primary: #bec6e0;
  --color-data-positive: #10b981;
  --color-tertiary-fixed: #e1e0ff;
  --color-map-accent: #f59e0b;
  --color-surface-container-low: #f2f4f6;
  --color-on-primary-fixed: #131b2e;
  --color-outline: #76777d;
  --color-on-surface-variant: #45464d;
  --color-surface-dim: #d8dadc;
  --color-surface-container-high: #e6e8ea;
  --color-on-primary-fixed-variant: #3f465c;
  --color-on-secondary-fixed-variant: #004c69;
  --color-secondary-fixed-dim: #7bd0ff;
  --color-surface-bright: #f7f9fb;
  --color-secondary-container: #40c2fd;
  --color-on-error: #ffffff;
  --color-on-secondary: #ffffff;
  --color-secondary: #00668a;
  --color-primary: #000000;
  --color-on-tertiary-fixed: #07006c;
  --color-on-tertiary-fixed-variant: #2f2ebe;
  --color-surface: #f7f9fb;
  --color-tertiary-container: #07006c;
  --color-tertiary-fixed-dim: #c0c1ff;
  --color-outline-variant: #c6c6cd;
  --color-error-container: #ffdad6;
  --color-on-tertiary-container: #7073ff;
  --color-on-background: #191c1e;
  --color-inverse-surface: #2d3133;
  --color-tertiary: #000000;
  --color-on-tertiary: #ffffff;
  --color-surface-border: #e2e8f0;
  --color-inverse-on-surface: #eff1f3;
  --color-on-primary-container: #7c839b;
  --color-data-negative: #ef4444;
  --color-surface-container-highest: #e0e3e5;
  --color-on-primary: #ffffff;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-on-surface);
}

.map-glass {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.glass-panel {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #c6c6cd;
  border-radius: 2px;
}
