# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore dependencies
*node_modules/
/vendor/

# Ignore build & coverage outputs
*dist/
/build/
coverage/

# Ignore environment files
*.env
*.venv/

# Ignore IDE files
.idea/
.vscode/

# material data (untracked knowledge)
.docs/*

# notebook artifacts
notebook/*

# architectural decision records (internal only)
docs/adr/*
